body {
  background: #CAE4DB;
  font-family: Palatino, sans-serif;
}

main {
  margin-top: 120px;
}

#header {
  display: flex;
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background: #DCAE1D;
}

#header-img {
  display: inline-block;
  float: left;
}

#nav-bar {
  display: inline-block;
  float: right;
  display: flex;
  font-size: 18px;
  width: 500px;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding-right: 20px;
}

#title {
  text-align: center;
  font-size: 40px;
}

#form-container{
  display: flex;
  justify-content: center;
  padding: 25px;
}

#video {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 15px;
}

#why-container {
  background: #7A9D96;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  padding-top: 0px;
  width: 900px;
  height: auto;
}

.icon {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  margin: 0px;
}

.row:after {
  content: "";
  flex: auto;
  background: yellow;
}

#pricing-container {
  display: flex;
  justify-content: space-around;
  width: 900px;
}

.description {
  line-height: 1.1;
  text-align: left;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.price-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  height: 220px;
  margin: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
}

.select-button {
  width: 70%;
  height: 40px;
  margin-bottom: -20px;
  font-weight: bold;
  font-size: 12px;
  background: #00303F;
  color: white;
}

#email-label {
  font-size: 16px;
}

#submit {
  font-size: 12px;
  background: #00303F;
  color: white;
}

.price-header {
  background: #DCAE1D;
  color: black;
  font-size: 14px;
  width: 100%;
  height: auto;
  display: block;
  text-transform: uppercase;
}

.cost {
  font-weight: bold;
  height: 25%;
}

.price-txt {
  height: 25%;
  padding: 5px;
}

.price-select {
  height: 25%;
  width: 100%;
}

h2 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

#contact{
  padding: 15px;
}

footer{
  margin-top: 40px;
  text-align: center;
  color: grey;
}

.link{
  text-decoration: none;
  color: grey;
}

@media (max-width: 930px) {
  #why-container{
  width: 95%;
  }
  #pricing-container{
  width: 95%;
  }
  #video{
    width: 76%;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)  {
  #nav-bar{
    width: 70%;
    flex-direction: column;
    text-align: right;
    font-size: 16px;
    line-height: 1.5;
  }
  #pricing-container{
  flex-direction: column;
  width: 100%;
  }
  footer{
    font-size: 12px;
  }
}
